@media (max-width: 768px) {
  .welcome-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .welcome-text {
    text-align: center;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .welcome-image img {
    max-width: 100%;
    margin-top: 20px;
  }
}
/* General Styles */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: rgb(105, 16, 16);
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f3eded;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-menu a {
  text-decoration: none;
  color: #c2720ad3;
  font-weight: bold;
}

.nav-menu a:hover {
  color: #f39e58;
}

/* Welcome Section */
.welcome {
  background-color: #fff7f5;
  width: 100%;
}

.welcome-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  margin-right: 70px;
}


.welcome-text {
  margin-left: 100px;
  text-align: left;
} 

.welcome-text ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

/* Buttons */
.welcome-buttons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.primary {
  background-color: #f39e58;
  color: white;
}

/* Image side */
.welcome-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

/* Footer */
.footer {
  justify-content: space-between;
  background-color: #f3eded;
  padding: 20px;
  text-align: center;
  height: 10vh;
}

.links a {
  text-decoration: none;
  color: #c2720ad3;
  font-weight: semi-bold;
}


