@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .welcome-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .welcome-image {
    display: none;
  }

  .welcome-text {
    width: 90%;
    text-align: center;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .welcome-image img {
    width: 100%;
    height: auto;
  }
}


/* General Styles */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: rgb(105, 16, 16);
}

/* Header */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f3eded;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-menu a {
  text-decoration: none;
  color: #c2720ad3;
  font-weight: bold;
}

.nav-menu a:hover {
  color: #f39e58;
}

/* Welcome Section */

.welcome {
  background-color: #fff7f5;
  width: 100%;
}

.welcome-grid {
  display: grid;
  grid-template-columns: 1fr 1.9fr;
  align-items: center;
  margin-right: 70px;
}

.welcome-paragraph {
  margin-top: 10px;
  padding-right: 30px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.welcome-text {
  margin-left: 70px;
} 

/* Buttons */

.welcome-buttons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.primary {
  background-color: #f39e58;
  color: white;
}

.btn:hover {
  background-color: #c2720ad3;
}

/* Image side */

.welcome-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Footer */

.footer {
  justify-content: space-between;
  background-color: #f3eded;
  padding: 20px;
  text-align: center;
  min-height: 50px;
}

.links a {
  text-decoration: none;
  color: #c2720ad3;
  font-weight: semi-bold;
}


