body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: rgb(105, 16, 16);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #f3eded;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;

}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-menu li {
  text-decoration: none;
  color: rgb(105, 16, 16);
  font-weight: semi-bold;  
}

.nav-menu a {
  text-decoration: none;
  color: #c2720ad3;
  font-weight: bold;
}

.footer {
  justify-content: space-between;
  background-color: #f3eded;
  padding: 30px;
  text-align: center;
  height: 7vh;
}


